# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
staticfiles/
*.sqlite3
*.sqlite3-journal
media/uploads/
media/images/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
